@media screen and (max-width: 1023px) {
  .navbar .logo a {
    font-size: 1.5rem;
  }
  .team {
    padding: 0px;
  }

  .links {
    position: fixed;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: #175d69;
    flex-direction: column;
    transition: 0.3s ease;
  }

  .navbar #menu-toggle:checked ~ .links {
    left: 0;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  .header .buttons {
    display: none;
  }

  .hero-section .hero {
    max-width: 100%;
    text-align: center;
  }
  .hero-section {
    display: block;
    margin-top: 190px;
  }
  .image-main {
    width: 86%;
    height: 100px;
  }
  .hero-section img {
    border-radius: 20px;
    margin-top: 20px !important;
  }

  .bunglaw_container {
    display: block;
  }
  .team .team_container {
    display: block;
  }
  .team .team_container .team_video {
    width: 100%;
  }
  .team .team_container .team_content {
    width: 100%;
    padding: 10px;
    margin-left: 0px;
    text-align: justify;
  }
}
