/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
  }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
}
.logo > img{
    width: 20%;
    height: 100px;
}
.navbar .logo a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
}

.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  transition: 0.2s ease;
}

.navbar .links a:hover {
  color: #47b2e4;
}

.navbar .buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 15px 0;
  transition: 0.2s ease;
}

.navbar .buttons a:not(:last-child) {
  margin-right: 30px;
}

.navbar .buttons .signin:hover {
  color: #47b2e4;
}

.navbar .buttons .signup {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 0.375rem;
  text-align: center;
  transition: 0.2s ease;
}

.navbar .buttons .signup:hover {
  background-color: #47b2e4;
  color: #fff;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-section .hero {
  max-width: 50%;
  color: #fff;
}

.hero h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #c9c7c7;
}

.hero-section .img img {
  width: 517px;
}

.hero-section .buttons {
  margin-top: 40px;
}

.hero-section .buttons a {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.2s ease;
  display: inline-block;
}

.hero-section .buttons a:not(:last-child) {
  margin-right: 15px;
}

.buttons .join {
  background-color: #47b2e4;
}

.hero-section .buttons .learn {
  border: 1px solid #fff;
  border-radius: 0.375rem;
}

.hero-section .buttons a:hover {
  background-color: #47b2e4;
}

/* Hamburger menu styles */
#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
  order: 1;
}
.hero-section{
    margin-bottom: 28px;
}

*{
    margin: 0; padding: 0 ; box-sizing: border-box;
}
.container
{
    margin: auto;
    max-width: 1170px;
}
.flex
{
    display: flex; 
    justify-content: space-between;
}

.image 
{
    display: block;
    width: 100%;
}




.bunglaw h2 {
    color: #fff ;
    font-size:35px;
    text-align: center; 
    padding:20pX;

}

.bunglaw .bunglaw_container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.bunglaw .bunglaw_container .item {
    width: 33.33%;
    margin: 10px;
    height: auto;
}

.bunglaw .bunglaw_container .item:hover {
    box-shadow: 0px 3px 65px 0px rgba(100, 14, 14, 0.15);
}

.bunglaw .bunglaw_container .item .item_img {
    width: 100%;
    height: 250px;
    overflow: hidden;

}

.bunglaw .bunglaw_container .item .item_img img {
    width: 100%;
    height: 250px;
}

.bunglaw .bunglaw_container .item .item_content {
    text-align: center;
}

.bunglaw .bunglaw_container .item .item_content h3 {
    color: #fff;
    padding: 10px;
    font-size: 25px;
    font: italic small-caps bold 12px/30px Georgia, serif;
}

.bunglaw .bunglaw_container .item .item_content p {
    padding: 10px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
    color: #fff;
}

.bunglaw .bunglaw_container .item .item_content a {
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-color: #4A148C;
    color: white;
    font-family: cosmic, sans-serif;
    

    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;


}

.item:hover {
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
}

.bunglaw-section{
    margin-top: 40px;
}
.bunglaw .bunglaw_btn {
    text-align: center;
    margin-top: 50px;
}

.bunglaw .bunglaw_btn a {
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-color: #4A148C;
    color: white;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}

.bunglaw .bunglaw_btn a:hover {
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
}


.image-main{
    width: 50%;
    height: 100px;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  /* btn  */
  .btn {
    color: #fff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #6f208e;
  }
  
  .btn:hover {
    background-color: #9029b8;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: #fff;
}
  
  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #6b6b6b;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }

  .bunglow-head{
    margin-top: 60px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
  }


  /* enquire */
  
.enquire{
    padding: 50px;
    background-image:url('https://cdn.pixabay.com/photo/2023/04/16/07/09/forms-7929260_1280.jpg') ;
    background-size: cover;
    margin-top: 100px;
}
.enquire h2{
    color:white;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.enquire .enquire_form{
    text-align: center;
}
.enquire .enquire_form form{
    padding:20px;
}
.enquire .enquire_form form input{
    width:30%;
    margin:10px;
    padding:10px;
}
.enquire .enquire_form form textarea{
    width: 30%;
    margin:10px;
    padding: 8px;
    outline: none;
    border: none;
}
.enquire .enquire_form form button{
    width: 30%;
    margin:10px;
    padding: 8px;
    outline: none;
    border: none;
    background-color: purple;
    color: white;
}



.team{
    padding: 50px;
   }
   .team h2{
       color: black;
       font-size: 35px;
       text-align: center;
       padding: 10px;
       text-transform: uppercase;
   
   }
   .team .team_container{
       display: flex;
   }
   .team .team_container .team_video{
       width: 50%;
       padding:20px;
   }
   .team .team_container .team_video iframe{
       
       width: 100%;
       border:10px solid orange;
       outline:none;
   
   }
   .team .team_container .team_content{
       width: 40%;
       padding:20px;
       margin-left:50px;
   }
   
   
   .team .team_container .team_content p{
       padding: 10px;
       font-size: 20px;
       font-family: cosmic,sans-serif;
        color: #fff;
   }

footer {
    background: #101b65 ;
    padding: 50px;
    padding-bottom: 0;
}


footer .pages {
    text-align:center;
}

footer .pages h3 {
    color: #fff;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .pages a {
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}

footer .pages a:hover {
    color: purple;
}

footer .doc {
    text-align: center;
}

footer .doc h3 {
    color: #fff;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .doc a {
    text-decoration: none;
    margin: 20px;
    color: orange;
    font-size: 15px;
    font-family: cosmic, sans-serif;

}

footer .doc a:hover {
    color: #fff;
}

footer .social {
    text-align: center;
}

footer .social h3 {
    color: #fff;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}
footer .social a{
    text-decoration:none ;
    font-size: 30px;
    color: orange;
    margin:10px;
}
footer .social a:hover{
    color: white;
}

footer .contact {
    text-align: center;
}

footer .contact h3 {
    color: #fff;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}
footer .contact a{
    text-decoration:none ;
    font-size: 30px;
    color: orange;
    margin:10px;
}
footer .contact a:hover{
    color: white;
}



.footer-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-rights{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center; color: #fff
}


.team{
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
}